<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/favicon.ico" alt="" height="24"> Secret Santa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% const pages = (!signedin ?  {'Home': '/'} : {'Home': '/', 'My Items': '/items'}) %>
        <% for (const [page, link] of Object.entries(pages)) { %>
        <% const activepage = (title === page) %>
        <li class="nav-item">
          <a class="nav-link <%= (activepage ? 'active' : '') %>" href="<%= (activepage ? '#' : link) %>" aria-current="<%= (activepage ? 'page' : 'false') %>"><%= page %></a>
        </li>
        <% } %>
        <% if (signedin) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Groups
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/addgroup">Add Group</a></li>
            <% for (const group of mygroups || []) { %>
            <li><a class="dropdown-item" href="/groups/<%= group.group_id %>"><%= group.name %></a></li>
            <% } %>
          </ul>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (!signedin) { %> 
        <li class="nav-item"><a class="nav-link" href="<%= signinurl %>">Google Sign-In</a></li>
        <% } else { %>
        <li class="nav-item"><a class="nav-link" href="#">Welcome <%= account.name %>!</a></li>
        <li class="nav-item"><a class="nav-link" href="/signout">Sign-Out</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>