<!DOCTYPE html>
<html>

<head>
	<%- include ("../partials/header.ejs") %>
</head>

<body>

	<%- include ("../partials/nav.ejs") %>

	<br>
	<div class="container bg-success">
		<p class="h1 text-center"><span class="badge"><%= group.name %> - Group Member List</span></p>
		<br><br>
		<table class="table table-light table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Wish List</th>
				</tr>
			</thead>
			<tbody>
				<% for (const member of memberList) { %> 
					<tr><td><%= member.name || member.email_id %></td><td><a href="/items/<%= member.email_id %>">view wish list</a></td></tr>
				<% } %> 
			</tbody>
		</table>
		<br>
	</div>

</body>

</html>